.h1{
  text-decoration: line-through;
  width: 200px;
  margin-left: 700px;
}
.text{
  margin-left: 65px;
  margin-top: -40px;
  width: 40px;
  border:  1px solid;
width: 49px;
height: 25px;

padding-left: 10px;
padding-top: 5px;
}
.text2{
  margin-left: 125px;
  margin-top: -47px;
  width: 20px;
  border:  1px solid;
width: 89px;
height: 24px;
padding-left: 10px;
padding-top: 5px;
}
.text3{
  margin-left: 225px;
  margin-top: -47px;
  width: 20px;
  border:  1px solid;
width: 68px;
height: 25px;
padding-left: 10px;
padding-top: 5px;
}
.text4{
  margin-left: 304px;
  margin-top: -48px;
  width: 20px;
border:  1px solid;
width: 63px;
height: 25px;
padding-left: 10px;
padding-top: 5px;

}
.info{
    margin-left: 30px;
 
    width: 605px;
}
.info2{
    margin-left: 30px; 
    width: 600px;
    
}

.info3{
    
    margin-left: 480px;
    height: 430px;
    width: 750px;
}

.info4{
   
    
background-color: orange;
color: white;
width: 140px;
height: 40px;
position: absolute;
top: 105px;
margin-left: 1250px;
border-color: white;

}

.info5{
    margin-left: 10px;

}
.info6{
    height: 115px; 
    width:300px;
    margin-left: 10px;
}
.info7{
height: 450px;
width: 325px;
margin-left: 546px;
}

.info8{
    width: 341px;
    height: 177px;
    text-align: center;
    margin-left: 990px;
    margin-top: -622px;
    background-color: white;
    padding: 25px;
    padding-top: 0%;
    border: 3px white solid;
    padding-left: 0%;
}
.info9{
    margin-left: 1px;
}
.info10{
    margin-left: 1px;
}

.img{
width: 200px;
height: 200px;
margin-left: 10px;

}

.info12{
  color: red;
}
.info13{
  height: 117px;
  width: 341px;
  text-align: center;
  border: 3px red solid;
  padding: 20px;
  padding-top: 0%;
  padding-left: 0%;


}

.img2{
  margin-top: 420px;
  margin-left: 1px;
 
}

.img3{
  margin-top: -10px;
}
.img4{
  margin-bottom: 233px;
  margin-left: -224px; 
  width: 220px;
  height: 197px;

}
.text5{
  border: 3px white solid;
  width: 510px;
  height: 425px;
  margin-left: 920px;
  margin-top: -434px;

}
  @media(max-width:321px){
    .title {
      font-size: 40px;
    }
    .h1{
      margin-left: 550px;
    }
    .hr{padding: 0;
    }
    .text{
      border:  1px solid;
      width: 115px;
      height: 50px;
      padding: 1px;
      margin-top: -75px;
      margin-left: 1px;
      padding-left: 10px;
    }
    .text2{
      border:  1px solid;
      width: 210px;
      height: 50px;
      padding: 1px;
      margin-top: -94px;
      margin-left: 129px;
      padding-left: 10px;
    }
    .text3{
      border:  1px solid;
      width: 155px;
      height: 50px;
      padding: 1px;
      margin-top: -93px;
      margin-left: 352px;
      padding-left: 10px;
    }
    .text4{
      border:  1px solid;
      width: 200px;
      height: 50px;
      padding: 1px;
      margin-top: -93px;
      margin-left: 520px;
      padding-left: 10px;
    }
    .info{
      text-align: center;
      margin-left: 155px;
      width: 987px;
      height: 180px;
    }
    .info2{
      text-align: center;
      margin-left: 315px;
      width: 686px;
      height: 50px;
    }
   
  .info3{
    margin-left: -2px;
    height: 715px;
    width: 1410px;
  }
  .info4{
    width: 650px;
    height: 90px;
    padding: 0;
    margin-left: 315px;
    margin-top: 1220px;
    
  }
  .info5{
    width: 120px;
    height: 55px;
    margin-top: 200px;
    margin-left: 595px;
  }
  .info6{
    width: 1197px;
    height: 300px;
    margin-top: 10px;
    margin-left: 45px;
  }
   .info7{
    width: 1190px;
    height: 1105px;
    margin-left: 5px;
   }
.info8{
  width: 1197px;
  margin-top: 10px;
  margin-left: 10px;
}
.img2{
  width: 1197px;
  height: 1105px;
}

.img3{
  width: 598px;
  height: 552px;
  margin-left: 1px;
}
.img4{
  width: 600px;
  height: 552px;
  margin-top: -562px;
  margin-left: 598px;
}
.text5{
  width: 1197px;
  height: 1105px;
  margin: 1px;
}
.text6
{
  text-align: center;
}

  }






  @media(max-width:426px){
    .title {
      font-size: 50px;
    }
   .h1{
    margin-left:  600px;
    margin-top: 10px;
   }
   .text{
    margin-left: 10px;
    width: 135px;
    height: 80px;
    margin-top: -27px;
   }
   .text2{
    margin-left: 156px;
    width: 255px;
    height: 80px;
    margin-top: -137px;
   }
  .text3{
    margin-left: 420px;
    width: 180px;
    height: 80px;
    margin-top: -137px;
  }
  .text4{
    margin-left: 610px;
    width: 180px;
    height: 80px;
    margin-top: -137px; 
  }
  .info{
 width: 1220px;
 height: 200px;
 margin-left: 85px;
  }
  .info2{

    width: 1220px;
    height: 100px;
    margin-left: 85px;
  }
  .info4{

width: 500px;
height: 100px;
margin-left: 435px;
margin-top: 1400px;
  }
  .info3{
  width: 1380px;
  height: 750px;
  margin: 10px;
  }
  .info5{
    margin-left: 640px;
margin-top: 200px;
width: 150px;
height: 30px;
  }
  
  .info6{
  width: 1370px;
  height: 270px;
  }
  .info7{
  
    width: 1060px;
    height: 1080px;
    margin-left: 100px;
  }
  .info8{
    margin-top: 10px;
    margin-left: 10px;
    width: 1360px;
    height: 450px;
  }
  .img2{
    margin: 0;
    height: 780px;
    width: 1380px;
  }
  .img3{
width: 690px;
height: 500px;
margin: 0;
margin-top: -13px;
  }

  .img4{
    width: 690px;
    height: 500px;
 
    margin-left: 690px;
    margin-top: -513px;
  }

  .text5{
      margin-top: 10px;
      margin-left: 10px;
      width: 1360px;
      height: 1405px;
    }
    .text6{
    padding-left: 565px;
    }
  } 









  @media(max-width:769px){
     .title {
      font-size: 40px;
  }

.h1{
  margin-left: 610px;
}

.hr{
  text-decoration: none;
}

.text{
  margin-left: 350px;
  width: 135px;
  height: 55px;
  margin-top: -22px;
 }


 .text2{
  margin-left: 496px;
  width: 255px;
  height: 55px;
  margin-top: -101px;
 }


.text3{
  margin-left: 761px;
  width: 180px;
  height: 55px;
  margin-top: -102px;
}


.text4{
  margin-left: 951px;
  width: 180px;
  height: 55px;
  margin-top: -102px; 
}


.info{
  width: 1260px;
  height: 200px;
  margin-left: 85px;
   }


   .info2{

    width: 1220px;
    height: 100px;
    margin-left: 85px;
  }


  .info4{

    width: 500px;
    height: 100px;
    margin-left: 435px;
    margin-top: 1340px;
      }
      .info3{
      width: 1380px;
      height: 750px;
      margin: 10px;
      }


      .info5{
        margin-left: 640px;
    margin-top: 200px;
    width: 150px;
    height: 30px;
      }
      
      .info6{
      width: 1370px;
      height: 270px;
      }
      .info7{
      
        width: 1060px;
        height: 1080px;
        margin-left: 180px;
      }
      .info8{
        margin-top: 10px;
        margin-left: 10px;
        width: 1360px;
        height: 450px;
      }
      .img2{
        margin: 0;
        height: 780px;
        width: 1380px;
      }
      .img3{
    width: 690px;
    height: 500px;
    margin: 0;
    margin-top: -13px;
      }
    
      .img4{
        width: 690px;
        height: 500px;
     
        margin-left: 690px;
        margin-top: -510px;
      }
    
      .text5{
          margin-top: -237px;
          margin-left: 10px;
          width: 1360px;
          height: 1405px;
        }
        .text6{
        padding-left: 565px;
        }
      } 